*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ccc;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}
.login-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color:#fff;
    font-family: Arial, sans-serif;
    margin-top: 60px;
    min-height: 530px;
    
  }
  
  /* Style du titre du formulaire */
  .login-form h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
  }
  
  /* Style des groupes de formulaire */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Style des étiquettes de formulaire */
  label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: black;
  }
  
  /* Style des champs de formulaire */
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    width: 90%;
  }
  
  /* Style du lien pour récupérer un mot de passe oublié */
  .forgot-password {
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    color: black;
    margin-left: 65%;
    text-decoration: underline;
  }
  
  /* Style du bouton de formulaire */
  button[type="submit"] {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    margin-left: 30%;
    min-height: 50px;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }

.login-form .images .image1{
    margin-top: 20px;
    margin-left: 10%;
    border: 2px solid #0069d9;
    width: 310px;
}

.login-form .images .image1 a{
    position: absolute;
    top: 425px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #0069d9;
}

.login-form .images .image2{
    margin-top: 20px;
    margin-left: 10%;
    border: 2px solid red;
    width: 310px;
}

.login-form .images .image2 a{
    position: absolute;
    top: 498px;
    text-decoration: none;
    font-size: 1.2rem;
    color: red;
}

.login-form p{
    margin-top: 25px;
    padding: 20px;
    margin-left: 6%;
    font-size: 1.1rem;
}

.login-form p a{
    color: red;
    font-size: 1.2rem;
}